<!-- home.page.html -->
<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Nama</ion-label>
            <ion-input [(ngModel)]="nama" name="nama"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">NIM</ion-label>
            <ion-input [(ngModel)]="nim" name="nim"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Kelas</ion-label>
            <ion-input [(ngModel)]="kelas" name="kelas"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Pesan</ion-label>
            <ion-textarea [(ngModel)]="pesan" name="pesan"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Tujuan</ion-label>
            <ion-select [(ngModel)]="tujuan" name="tujuan">
                <ion-select-option value="whatsapp">WhatsApp</ion-select-option>
                <ion-select-option value="telegram">Telegram</ion-select-option>
                <ion-select-option value="email">Email</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="submitForm()">Kirim</ion-button>
    <ion-button expand="block" routerLink="/riwayat">Riwayat Saya</ion-button>
</ion-content>